<table>
    <tr>
        <td class="left">Name:</td>
        <td class="right">Raghav Agarwal</td>
    </tr>
    <tr>
        <td class="left">Name:</td>
        <td class="right">Raghav Agarwal</td>
    </tr>
</table>